* {
	padding: 0;
	margin: 0;
}
.container {
	width: 200px;
	height: 150px;
	margin: auto;
	padding-top: 100px;
}
.container p {
	font-size: 20px;
}
.container input {
	width: 150px;
	height: 20px;
}
.container button {
	width: 30px;
	height: 20px;
	display: inline-block;
}
